/* LIGHT  */

.LightSkills {
   height: 100%;
   padding-bottom: 50%;
   background-color: white;
   padding-bottom: 1%;
   height: auto;
}
.LightSkills-title {
   text-decoration: underline #eb4034;
   display: flex;
   justify-content: center;
   color: black;
}
.LightSkills-container {
   margin: 1em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   overflow: visible;
}
@media (max-width: 480px) {
   .LightSkills-container {
      display: flex;
      flex-direction: column;
      overflow: visible;
      text-align: center;
   }
}
@media (max-width: 1000px) {
   .LightSkills-container {
      display: grid;
      grid-template-columns: 400px;
   }
}
.LightSkills-frontend, .LightSkills-backend, .LightSkills-other {
   margin: 1em;
   display: grid;
   justify-content: center;
   justify-items: center;
   grid-template-columns: 1fr 1fr;
}
.LightSkills-frontend-title, .LightSkills-backend-title, .LightSkills-other-title {
   margin: 1em;
   display: flex;
   justify-content: center;
   color: black;
   text-decoration: underline #eb4034;
}
.LightSkills-logo {
   margin: 10px;
}
.LightSkills-logo:hover {
   transition: 100ms;
   cursor: pointer;
   transform: scale(1.1);
}
@media (min-width: 0px) {
   .LightSkills-logo {
      height: 60px;
      width: 60px;
   }
}
@media (min-width: 400px) {
   .LightSkills-logo {
      height: 80px;
      width: 80px;
   }
}
.LightSkills-smallcontainer1, .LightSkills-smallcontainer2, .LightSkills-smallcontainer3 {
   border: 0.1em solid black;
   background-color: white;
   margin: 0.5em;
   border-radius: 0.5em;
   transition: 200ms;
   box-shadow: 13px 13px 10px 7px rgba(0, 0, 0, 0.41);
}
@media (min-width: 480px) {
   .LightSkills-smallcontainer1:hover, .LightSkills-smallcontainer2:hover, .LightSkills-smallcontainer3:hover {
      transform: scale(1.05);
      transition: 200ms;
   }
}
#LightModal {
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: black; /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#LightModal-content {
   border-radius: 0.3em;
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}
#LightModal-content p, #LightModal-content li {
   margin-left: 2em;
   font-size: 0.5em;
}
#LightModal-times {
   display: inline-block;
   font-size: 1em;
   margin-left: 1em;
   cursor: pointer;
}
@media (max-width: 480px) {
   #LightModal-content {
      border-radius: 0.4em;
   }
}

/* DARK  */

.DarkSkills {
   height: 100%;
   background-color: black;
   padding-bottom: 1%;
   height: auto;
}
.DarkSkills-title {
   text-decoration: underline #eb4034;
   display: flex;
   justify-content: center;
   color: white;
}
.DarkSkills-container {
   margin: 1em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   overflow: visible;
}
@media (max-width: 480px) {
   .DarkSkills-container {
      flex-direction: column;
      overflow: visible;
      text-align: center;
   }
}
@media (max-width: 1000px) {
   .DarkSkills-container {
      display: grid;
      grid-template-columns: 400px;
   }
}
.DarkSkills-frontend, .DarkSkills-backend, .DarkSkills-other {
   margin: 1em;
   display: grid;
   justify-content: center;
   justify-items: center;
   grid-template-columns: 1fr 1fr;
}
.DarkSkills-frontend-title, .DarkSkills-backend-title, .DarkSkills-other-title {
   margin: 1em;
   display: flex;
   justify-content: center;
   color: black;
   text-decoration: underline #eb4034;
}
.DarkSkills-logo {
   margin: 10px;
}
.DarkSkills-logo:hover {
   transition: 100ms;
   cursor: pointer;
   transform: scale(1.1);
}
@media (min-width: 0px) {
   .DarkSkills-logo {
      height: 60px;
      width: 60px;
   }
}
@media (min-width: 400px) {
   .DarkSkills-logo {
      height: 80px;
      width: 80px;
   }
}
.DarkSkills-smallcontainer1, .DarkSkills-smallcontainer2, .DarkSkills-smallcontainer3 {
   border: 0.1em solid #eb4034;
   background-color: white;
   margin: 0.5em;
   border-radius: 0.5em;
   transition: 200ms;
}
@media (min-width: 480px) {
   .DarkSkills-smallcontainer1:hover, .DarkSkills-smallcontainer2:hover, .DarkSkills-smallcontainer3:hover {
      transform: scale(1.05);
      transition: 200ms;
   }
}
#DarkModal {
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: black; /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#DarkModal-content {
   border-radius: 0.3em;
   background-color: #fefefe;
   margin: 15% auto;/* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;/* Could be more or less, depending on screen size */
}
#DarkModal-content p, #DarkModal-content li {
   margin-left: 2em;
   font-size: 0.5em;
}
#DarkModal-times {
   display: inline-block;
   font-size: 1em;
   margin-left: 1em;
   cursor: pointer;
}
@media (max-width: 480px) {
   #DarkModal-content {
      border-radius: 0.4em;
   }
}