:root {
   --main-theme: #eb4034;
}

/* light  */

.LightStats-title1 {
   text-align: center;
   text-decoration: underline var(--main-theme);
   margin: 1em;
}
#LightStats-circular-graph, #LightStats-precise-button {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#LightStats-precise-button {
   background-color: white;
   padding: 0.5em;
   border: 2px solid black;
   border-radius: 0.5em;
   box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.41);
   text-decoration: underline 2px var(--main-theme);
   margin-bottom: 100px;
}
#LightStats-precise-button:hover {
   background-color: rgb(236, 239, 241);
   cursor: pointer;
}

/* dark  */

.DarkStats {
   background-color: black;
}
.DarkStats-title1 {
   color: white;
   text-align: center;
   text-decoration: underline var(--main-theme);
   margin: 1em;
}
#DarkStats-circular-graph, #DarkStats-precise-button {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#DarkStats-precise-button {
   background-color: white;
   padding: 0.5em;
   border: 2px solid var(--main-theme);
   border-radius: 0.5em;
   box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.41);
   text-decoration: underline 2px var(--main-theme);
   margin-bottom: 100px;
}
#DarkStats-precise-button:hover {
   background-color: rgb(236, 239, 241);
   cursor: pointer;
}