@import 'vars';

// Dark
.DarkApp {
   header {
      display: flex;
      justify-content: center;
      height: 8vh;
      background-color: black;
   }
   .DarkButton {
      transition: 600ms;
      padding: 10px;
      margin: 4px 2px;
      border-radius: 100px;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border: 2px solid rgb(153, 153, 153);
      font-size: 1.25em;
   }
   .DarkGreeting {
      height: 92vh;
      background-color: black;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      .DarkGreeting-title {
         margin-top: 30vh;
         font-size: 5em;
         font-weight: 700;
         color: white;
      }
      .DarkGreeting-desc {
         color: $mainTheme;
         font-size: 2em;
      }
   }
   .DarkSkills {
      height: 100vh;
      @media (max-width: 480px){height: 150vh}
      background-color: black;
      .DarkSkills-title {
         text-decoration: underline $mainTheme;
         display: flex;
         justify-content: center;
         color: white;
      }
      .DarkSkills-container {
         margin: 1em;
         display: flex;
         flex-direction: row;
         justify-content: center;
         text-align: center;
         overflow: visible;

         // common stuff inside smallcontainer 1 && 2

         .DarkSkills-frontend-title, .DarkSkills-backend-title, .DarkSkills-other-title {
            margin: 1em;
            display: flex;
            justify-content: center;
            color: black;
            text-decoration: underline $mainTheme;
         }
         .DarkSkills-frontend, .DarkSkills-backend, .DarkSkills-other {
            margin: 1em;
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
         }
         .DarkSkills-logo {
            margin: 10px;
         }
         @media (min-width: 0px){
            .LightSkills-logo {
               height: 60px;
               width: 60px;
            }
         }
         @media (min-width: 400px){
            .LightSkills-logo {
               height: 80px;
               width: 80px;
            }
         }
         .DarkSkills-logo:hover {
            transition: 100ms;
            cursor: pointer;
            transform: scale(1.1);
         }
         .DarkSkills-smallcontainer1, .DarkSkills-smallcontainer2, .DarkSkills-smallcontainer3 {
            border: 0.1em solid $mainTheme;
            background-color: white;
            margin: 0.5em;
            border-radius: 0.5em;
            transition: 400ms;
         }
         @media (min-width: 480px){
            .DarkSkills-smallcontainer1:hover, .DarkSkills-smallcontainer2:hover, .DarkSkills-smallcontainer3:hover {
               transform: scale(1.05);
               transition: 400ms;
            }
         }
      }
      @media (max-width: 1000px){
         .LightSkills-container {
            display: grid;
            grid-template-columns: 400px;
         }
      }
      @media (max-width: 480px){
         .LightSkills-container {
            display: flex;
            flex-direction: column;
            overflow: visible;
            text-align: center;
         }
      }
      #DarkModal {
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

         $fontSize: 1em;

         #DarkModal-content {
            border-radius: 0.3em;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            p, li {
               margin-left: $fontSize * 2;
               font-size: $fontSize / 2;
            }
            .Modal-lang-title {
               font-size: $fontSize;
               margin-left: $fontSize
               // text-decoration: underline $mainTheme;
            }
            .Modal-lang-overall {
               font-size: $fontSize / 1.8;
               margin-left: $fontSize * 1.8;
            }
            .Modal-lang-subtitle {
               font-size: $fontSize / 1.2;
               margin-left: $fontSize * 1.2;
            }
            #DarkModal-times {
               display: inline-block;
               font-size: $fontSize;
               margin-left: $fontSize;
               cursor: pointer;
            }
         }
         @media (max-width: 480px){
            #DarkModal-content {
               border-radius: 0.4em;
            }
         }
      }
   }
}
