@import 'vars';

// Light
.LightApp {
   header {
      display: flex;
      justify-content: center;
      height: 8vh;
      background-color: white;
   }
   .LightButton {
      transition: 600ms;
      background-color: rgb(66, 162, 218);
      color: rgb(245, 203, 17);
      padding: 10px;
      margin: 4px 2px;
      border-radius: 100px;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border: 2px solid rgb(153, 153, 153);
      font-size: 1.25em;
   }
   .LightGreeting {
      height: 92vh;
      background-color: white;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      .LightGreeting-title {
         margin-top: 30vh;
         font-size: 5em;
         font-weight: 700;
         color: black;
      }
      .LightGreeting-desc {
         color: $mainTheme;
         font-size: 2em;
      }
   }
   .LightSkills {
      height: 100vh;
      @media (max-width: 480px){height: 150vh} // taller for mobile phones
      background-color: white;
      .LightSkills-title {
         text-decoration: underline $mainTheme;
         display: flex;
         justify-content: center;
         color: black;
      }
      .LightSkills-container {
         margin: 1em;
         display: flex;
         flex-direction: row;
         justify-content: center;
         text-align: center;
         overflow: visible;

         // common stuff inside smallcontainer 1 && 2

         .LightSkills-frontend-title, .LightSkills-backend-title, .LightSkills-other-title {
            margin: 1em;
            display: flex;
            justify-content: center;
            color: black;
            text-decoration: underline $mainTheme;
         }
         .LightSkills-frontend, .LightSkills-backend, .LightSkills-other {
            margin: 1em;
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
         }
         .LightSkills-logo {
            margin: 10px;
         }
         .LightSkills-logo:hover {
            transition: 100ms;
            cursor: pointer;
            transform: scale(1.1);
         }
         .LightSkills-smallcontainer1, .LightSkills-smallcontainer2, .LightSkills-smallcontainer3 {
            border: 0.1em solid black;
            background-color: white;
            margin: 0.5em;
            border-radius: 0.5em;
            transition: 400ms;
            box-shadow: 13px 13px 10px 7px rgba(0,0,0,0.41);
         }
         @media (min-width: 480px){
            .LightSkills-smallcontainer1:hover, .LightSkills-smallcontainer2:hover, .LightSkills-smallcontainer3:hover {
               transform: scale(1.05);
               transition: 400ms;
            }
         }
      }

      @media (max-width: 480px){
         .LightSkills-container {
            flex-direction: column;
            overflow: visible;
            text-align: center;
         }
      }
      #LightModal {
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

         $fontSize: 1em;

         #LightModal-content {
            border-radius: 0.3em;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            p, li {
               margin-left: $fontSize * 2;
               font-size: $fontSize / 2;
            }
            .Modal-lang-title {
               font-size: $fontSize;
               margin-left: $fontSize
               // text-decoration: underline $mainTheme;
            }
            .Modal-lang-overall {
               font-size: $fontSize / 1.8;
               margin-left: $fontSize * 1.8;
            }
            .Modal-lang-subtitle {
               font-size: $fontSize / 1.2;
               margin-left: $fontSize * 1.2;
            }
            #DarkModal-times {
               display: inline-block;
               font-size: $fontSize;
               margin-left: $fontSize;
               cursor: pointer;
            }
         }
         @media (max-width: 480px){
            #DarkModal-content {
               border-radius: 0.4em;
            }
         }
      }
   }
}